<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">{{breadcrumbTitle}}            </li>
    </ul>
</div>