<footer class="footer">
    <div class="footer__block block no-margin-bottom">
        <div class="container-fluid text-center">
            <p class="no-margin-bottom">2018 © CynQuiz. Design by <a href="https://bootstrapious.com">Bootstrapious</a>.</p>
        </div>
    </div>
</footer>