<nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <div class="avatar"><img src="/img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
          <div class="title">
            <h1 class="h5">{{user.firstName}} {{user.lastName}}</h1>
            <p>{{user.role}}</p>
          </div>
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
        <ul class="list-unstyled">
                <li><a href="/"> <i class="icon-home"></i>Home </a></li>
                {{#compare user.role 'admin'}}
                  <li><a href="#teachersDD" aria-expanded="false" data-toggle="collapse"> <i class="icon-writing-whiteboard"></i>Teachers </a>
                    <ul id="teachersDD" class="collapse list-unstyled ">
                      <li><a href="/admin/teachers">View</a></li>
                      <li><a href="/admin/teachers/verify">Verify</a></li>
                    </ul>
                  </li>
                  <li><a href="#"> <i class="icon-user-outline"></i>Students </a></li>
                  <li><a href="#"> <i class="icon-list-1"></i>Questions </a></li>
                {{/compare}}
                {{#compare user.role 'teacher'}}
                  <li><a href="#"> <i class="icon-grid"></i>Tables </a></li>
                {{/compare}}
                {{#compare user.role 'student'}}
                  <li><a href="#"> <i class="icon-grid"></i>Tables </a></li>
                {{/compare}}

                {{!-- <li><a href="#"> <i class="icon-grid"></i>Tables </a></li>
                <li><a href="#"> <i class="fa fa-bar-chart"></i>Charts </a></li>
                <li><a href="#"> <i class="icon-padnote"></i>Forms </a></li> --}}
                
                <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Example dropdown </a>
                  <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                  </ul>
                </li>
                <li><a href="login.html"> <i class="icon-logout"></i>Login page </a></li>
        </ul><span class="heading">Extras</span>
        <ul class="list-unstyled">
          <li> <a href="#"> <i class="icon-settings"></i>Demo </a></li>
          <li> <a href="#"> <i class="icon-writing-whiteboard"></i>Demo </a></li>
          <li> <a href="#"> <i class="icon-chart"></i>Demo </a></li>
        </ul>
      </nav>